
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --standard-dark-color: #80bd5a;
    --standard-color: #9be979;
    --standard-light-color: ;

    --contrast-color: #ff5b5b;
    --contrast-light-color: #ff7a7a;
    --contrast-lighter-color: #ffacac;

    --dark-theme: #121212; 

    --font-01: #fff;
    --font-02: #cfcece;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}



.nav {
    background: var(--dark-theme);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 83px;
    width: 100%;
    transition: .5s;
}

.nav.scroll {
    position: fixed;
    z-index: 10;
}

.nav-line {
    background: var(--standard-color);
    width: 90%;
    height: 3px;
    margin: auto;
    margin-top: -3px;
    position: relative;
    z-index: 10;
}

.nav-line.scroll {
    position: fixed;
    z-index: 10;
    top: 83px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    animation: fadeIn .5s forwards .3s;
}

.nav-burger {
    display: none;
    cursor: pointer;
}

.nav-burger:hover .burger-lines {
    background: var(--contrast-light-color);
    transition: .3s;
}

.burger-lines {
    background: var(--standard-color);
    width: 36px;
    height: 3px;
    margin: 8px 0px;
    border-radius: 12px;
}

.line-01 {
    transform: rotate(45deg) translateY(7px);
}
.line-02 {
    display: none;
}
.line-03 {
    transform: rotate(-45deg) translateY(-7px);
}

.nav-links {
    display: flex;
    list-style: none;
}

.nav-links.active {
    transform: translateX(0);
}

.nav-link {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.nav-link {
    color: var(--standard-color);
    text-decoration: none;
    font-weight: 300;
    font-size: 24px;
    transition: .3s;
    cursor: pointer;
    padding: 18px 0;
}



.nav-link.projects button {
    background: none;
    color: var(--standard-color);
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 24px;
    cursor: pointer;
    transition: .3s;
    outline: none;
    position: relative;
    padding-left: 26px;
}

.nav-link.projects span.on {
    transform: rotate(90deg);
}

.nav-link.projects button.on {
    color: var(--contrast-lighter-color);
}

.nav-link.projects span {
    font-size: 46px;
    position: absolute;
    top: -19px;
    left: 0;
    transition: .3s;
}

.nav-link.projects button:hover {
    color: var(--contrast-color);
}

.nav-link:hover {
    color: var(--contrast-color);
}

.projects-links {
    background: var(--standard-dark-color);
    position: absolute;
    width: 200px;
    height: 0;
    opacity: 0;
    pointer-events: none;
    top: 74px;
    margin-left: -40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    transition: .3s;
}

.projects-link {
    color: var(--font-01);
    text-decoration: none;
    font-weight: 300;
    font-size: 20px;
    display: flex;
    align-items: center;
    opacity: 0;
    transition: .3s;
    height: 0;
}

.projects-link:hover {
    color: var(--contrast-color);
}

.projects-links.on {
    height: 200px;
    padding: 12px 0;
    opacity: 1;
    cursor: default;
    pointer-events: auto;
}

.projects-link.on {
    opacity: 1;
}

.nav-link.projects {
    position: relative;
    z-index: 15;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@keyframes navFadeIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes navMove {
    from {
        transform: translateY(-100%);
    } to {
        transform: translateY(0);
    }
}



.introduction {
    background: var(--dark-theme);
    height: 580px;
    box-shadow: 0px 5px 0px #080808;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.introduction-text {
    color: var(--font-01);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-left: 80px;
}

.introduction-text > h1 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;
    animation: fadeInRight .6s;
}

.introduction-text > h1 > span {
    color: var(--contrast-color);
}

.introduction-text > p {
    color: var(--font-02);
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 68px;
    animation: fadeInRight .7s forwards .1s;
}

.down-arrows {
    animation: downArrows infinite .6s alternate;
}

.introduction-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.green-ball {
    width: 70%;
}

.felipe-image {
    position: absolute;
    height: 65%;
    margin-left: 5px;
    margin-top: -5px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.felipe-image:hover {
    transform: scale(98%);
    filter: blur(1px);
}



.contacts {
    background: var(--dark-theme);
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contacts > p {
    color: var(--font-01);
    margin-bottom: 18px;
    padding: 42px;
    font-size: 20px;
    font-weight: 300;
    max-width: 800px;
}

.contacts-icons {
    width: 90%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact {
    border-radius: 50%;
}

.contact > img {
    background: var(--standard-color);
    transition: .3s;
}

.contact > img:hover {
    background: var(--contrast-light-color);
}



.footer {
    background: var(--dark-theme);
    color: var(--standard-color);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
}



.projects-sliders {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.project-slider {
    width: 360px;
    margin-bottom: 100px;
}

.slider-box {
    display: flex;
    transition: .3s;
}

.project-slide {
    margin-right: 300px;
}

.projects-sliders h2 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 40px;
}

.slider-button {
    background: none;
    border: none;
    width: 60px;
    height: 60px;
    position: absolute;
    margin-top: 160px;
    border-radius: 50%;
    cursor: pointer;
}

.slider-button > img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: .3s;
}

.slider-button:hover > img {
    transform: scale(.9);
}

.slider-button.left {
    left: 24%;
    transform: rotate(90deg);
}

.slider-button.right {
    right: 24%;
    transform: rotate(-90deg);
}

.projects-sliders h3 {
    font-size: 28px;
    font-weight: 600;
    margin: 12px;
    margin-top: 0;
    text-decoration: underline;
}

.project-image {
    width: 360px;
    border-radius: 50%;
    transition: .2s;
    border: 3px solid var(--font-02);
}

.project-image:hover {
    transform: scale(.94);
    cursor: pointer;
}

.project-hover {
    width: 360px;
    height: 380px;
    display: flex;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: .3s;
}

.project-hover:hover {
    width: 360px;
    height: 530px;
    padding: 32px;
    box-shadow: 0px 0px 3px #888888;
}

.project-hover:hover .project-image {
    width: 140px;
}

.projects-description {
    display: none;
    opacity: 0;
    height: 0;
    max-width: 300px;
    transition: .3s;
}

.project-hover:hover .projects-description {
    display: block;
    opacity: 1;
    height: 100%;
}

.projects-tools a {
    width: 30px;
    border-radius: 50%;
}

.projects-tools img {
    margin: 12px;
    transition: .2s;
}

.projects-tools img:hover {
    transform: scale(.92);
}

.projects-sliders p {
    max-width: 400px;
    font-size: 18px;
}



@keyframes downArrows {
    from {
        transform: translateY(0px);
    } to {
        transform: translateY(20px);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-100%);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}



@media screen and (max-width: 1200px) {
    .felipe-image {
        height: 52%;
    }
}

@media screen and (max-width: 1100px) {
    .felipe-image {
        height: 48%;
    }
}

@media screen and (max-width: 1000px) {
    .felipe-image {
        height: 44%;
    }

    .slider-button.left {
        left: 18%;
    }
    .slider-button.right {
        right: 18%;
    }
}

@media screen and (max-width: 900px) {
    .felipe-image {
        height: 38%;
    }
}

@media screen and (max-width: 800px) {
    .felipe-image {
        height: 34%;
        margin-left: 3px;
        margin-top: -3px;
    }

    .slider-button.left {
        left: 10%;
    }
    .slider-button.right {
        right: 10%;
    }
}

@media screen and (max-width: 700px) {
    .introduction {
        display: block;
        padding: 0;
        height: 720px;
    }
    .introduction-text {
        padding: 0px 42px;
    }
    .introduction-text > h1 {
        margin-top: 280px;
        font-size: 34px;
    }
    .introduction-text > p {
        font-size: 22px;
        margin-bottom: 42px;
    }
    .green-ball {
        position: absolute;
        top: 130px;
        height: 200px;
        width: 200px;
        left: 50%;
        transform: translateX(-50%);
    }
    .felipe-image {
        top: 140px;
        height: 180px;
        width: 180px;
        left: 50%;
        transform: translateX(-51%);
    }
    .felipe-image:hover {
        transform: scale(98%) translateX(-52%);
        filter: blur(1px);
    }

    .slider-button.left {
        left: 50px;
    }
    .slider-button.right {
        right: 50px;
    }
}

@media screen and (max-width: 600px) {
    .nav {
        justify-content: space-between;
        padding: 0px 50px;
    }
    .nav-contacts {
        display: none;
    }
    .nav-burger {
        display: block;
    }
    .nav-links {
        background-color: var(--standard-color);
        width: 300px;
        min-height: 260px;
        padding: 22px;
        top: 83px;
        right: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 10;
        list-style: none;
        transform: translateX(100%);
        transition: .5s;
    }
    .nav-link {
        color: var(--font-01);
        opacity: 0;
    }
    .nav-line {
        width: 100%;
    }
    .nav-link.projects {
        flex-direction: column;
    }
    .nav-link.projects button {
        color: var(--font-01);
    }
    .nav-link.projects button.on {
        margin-bottom: 16px;
    }
    .projects-links {
        position: relative;
        top: 0;
        margin-left: 0;
        width: 300px;
    }

    .project-hover {
        width: 360px;
        height: 530px;
        padding: 32px;
        box-shadow: 0px 0px 3px #888888;
    }
    .project-image {
        width: 140px;
    }
    .projects-description {
        display: block;
        opacity: 1;
        height: 100%;
    }
    .slider-button {
        margin-top: 200px;
    }
    .slider-button.left {
        left: 2%;
    }
    .slider-button.right {
        right: 2%;
    }
}

@media screen and (max-width: 500px) {
    .introduction {
        height: 760px;
    }
    .introduction-text > h1 {
        font-size: 32px;
    }
    .introduction-text > p {
        font-size: 20px;
        line-height: 34px;
    }

    .contacts > p {
        padding: 18px;
        font-size: 18px;
    }

    .slider-button {
        margin-top: 140px;
    }
    .slider-button.left {
        left: 30px;
    }
    .slider-button.right {
        right: 30px;
    }
}

@media screen and (max-width: 400px) {
    .introduction {
        height: 800px;
    }
    .introduction-text {
        padding: 32px;
    }
    .introduction-text > p {
        font-size: 18px;
        line-height: 32px;
    }
}

@media screen and (max-width: 350px) {
    .introduction-text {
        padding: 18px;
    }
    .introduction-text > p {
        font-size: 18px;
    }
    .nav-links {
        width: 100%;
    }

    .slider-button.left {
        left: 20px;
    }
    .slider-button.right {
        right: 20px;
    }
    .projects-sliders p {
        font-size: 18px;
    }
}