
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --standard-dark-color: #98d671;
    --standard-color: #9be979;
    --standard-light-color: ;

    --contrast-color: #ff5b5b;
    --contrast-light-color: #ff7a7a;
    --contrast-lighter-color: #ffacac;

    --dark-theme: #121212; 

    --font-01: #fff;
    --font-02: #cfcece;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}



.nav {
    background: var(--dark-theme);
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 83px;
}

.nav-contacts {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    list-style: none;
}

.nav-contact > img {
    background: var(--standard-color);
    transition: .3s;
}

.nav-contact > img:hover {
    background: var(--contrast-color);
}

.nav-line {
    background: var(--standard-color);
    width: 90%;
    height: 3px;
    margin: auto;
    margin-top: -3px;
}

.nav-burger {
    display: none;
}

.nav-burger:hover .burger-lines {
    background: var(--contrast-light-color);
    transition: .3s;
}

.burger-lines {
    background: var(--standard-color);
    width: 36px;
    height: 2px;
    margin: 8px 0px;
}

.line-01 {
    transform: rotate(45deg) translateY(7px);
}
.line-02 {
    display: none;
}
.line-03 {
    transform: rotate(-45deg) translateY(-7px);
}

.nav-links {
    background-color: var(--standard-color);
    width: 300px;
    height: 260px;
    padding: 22px;
    top: 83px;
    right: 0;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    display: none;
    z-index: 10;
    list-style: none;
    transform: translateX(100%);
    transition: .5s;
}

.nav-links.active {
    transform: translateX(0);
}

.nav-link {
    opacity: 0;
}

.nav-link > a {
    color: var(--font-01);
    text-decoration: none;
    font-weight: 300;
    font-size: 24px;
    transition: .3s;
}

.nav-link > a:hover {
    color: var(--contrast-color);
}

@keyframes navFadeIn {
    from {
        opacity: 0;
        transform: translateX(100%);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}



.introduction {
    background: var(--dark-theme);
    height: 580px;
    box-shadow: 0px 5px 0px #080808;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.introduction-text {
    color: var(--font-01);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-left: 80px;
}

.introduction-text > h1 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 40px;
    animation: fadeInRight .6s;
}

.introduction-text > h1 > span {
    color: var(--contrast-color);
}

.introduction-text > p {
    color: var(--font-02);
    font-size: 24px;
    line-height: 38px;
    margin-bottom: 68px;
    animation: fadeInRight .7s forwards .1s;
}

.down-arrows {
    animation: downArrows infinite .6s alternate;
}

.introduction-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.green-ball {
    width: 70%;
}

.felipe-image {
    position: absolute;
    height: 65%;
    margin-left: 5px;
    margin-top: -5px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
}

.felipe-image:hover {
    transform: scale(98%);
    filter: blur(1px);
}



.contacts {
    background: var(--dark-theme);
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.contacts > p {
    color: var(--font-01);
    margin-bottom: 18px;
    padding: 42px;
    font-size: 20px;
    font-weight: 300;
}

.contacts-icons {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact {
    border-radius: 50%;
}

.contact > img {
    background: var(--standard-color);
    transition: .3s;
}

.contact > img:hover {
    background: var(--contrast-light-color);
}



.footer {
    background: var(--dark-theme);
    color: var(--standard-color);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 300;
}



@keyframes downArrows {
    from {
        transform: translateY(0px);
    } to {
        transform: translateY(20px);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-100%);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(100%);
    } to {
        opacity: 1;
        transform: translateX(0);
    }
}



@media screen and (max-width: 1200px) {
    .felipe-image {
        height: 52%;
    }
}

@media screen and (max-width: 1100px) {
    .felipe-image {
        height: 48%;
    }
}

@media screen and (max-width: 1000px) {
    .felipe-image {
        height: 44%;
    }
}

@media screen and (max-width: 900px) {
    .felipe-image {
        height: 38%;
    }
}

@media screen and (max-width: 800px) {
    .felipe-image {
        height: 34%;
        margin-left: 3px;
        margin-top: -3px;
    }
}

@media screen and (max-width: 700px) {
    .introduction {
        display: block;
        padding: 0;
        height: 720px;
    }
    .introduction-text {
        padding: 0px 42px;
    }
    .introduction-text > h1 {
        margin-top: 280px;
        font-size: 34px;
    }
    .introduction-text > p {
        font-size: 22px;
        margin-bottom: 42px;
    }
    .green-ball {
        position: absolute;
        top: 130px;
        height: 200px;
        width: 200px;
        left: 50%;
        transform: translateX(-50%);
    }
    .felipe-image {
        top: 140px;
        height: 180px;
        width: 180px;
        left: 50%;
        transform: translateX(-51%);
    }
    .felipe-image:hover {
        transform: scale(98%) translateX(-52%);
        filter: blur(1px);
    }
}

@media screen and (max-width: 600px) {
    .nav {
        justify-content: space-between;
        padding: 0px 50px;
    }
    .nav-contacts {
        display: none;
    }
    .nav-burger {
        display: block;
    }
    .nav-links {
        display: flex;
    }
    .nav-line {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .introduction {
        height: 760px;
    }
    .introduction-text > h1 {
        font-size: 32px;
    }
    .introduction-text > p {
        font-size: 20px;
        line-height: 34px;
    }

    .contacts > p {
        padding: 18px;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    .introduction {
        height: 800px;
    }
    .introduction-text {
        padding: 32px;
    }
    .introduction-text > p {
        font-size: 18px;
        line-height: 32px;
    }
}

@media screen and (max-width: 350px) {
    .introduction-text {
        padding: 18px;
    }
    .introduction-text > p {
        font-size: 18px;
    }
    .nav-links {
        width: 100%;
    }
}